# Build folder
/target

# Credentials
.env
/cert

# Generated Prisma types and logic
/src/prisma.rs

# Prisma migrations
/prisma/migrations

# OS format config files
**/.DS_Store

# IDE
/.vscode
/.idea

# Minio and Postgres data
/data