# Build folder
/target

# Credentials
.env

# Generated Prisma types and logic
/src/prisma.rs

# OS format config files
**/.DS_Store

# Docker
Dockerfile
docker-compose.local.yml
docker-compose.prod.yml

# Git
/.git
.gitignore

# IDE
/.vscode
/.idea

# Minio and Postgres data
/data