# Build folder
/target

# Credentials
.env
docker-compose.yml

# Generated Prisma types and logic
/src/prisma.rs

# Prisma migrations
/prisma/migrations

# OS format config files
**/.DS_Store

# IDE
/.vscode

# Minio and Postgres data
/data